<div style="height:480px !important;" class="modal-content" id="edit">
   <div class="modal-header">
      <i class="glyphicon glyphicon-remove" id="windowCloseButtons" ng-click="closeTutorial()"></i>
      <center>
         <h4 class="h4">Tutorial</h4>
      </center>
   </div>
   <div  class="modal-body">
      <center>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/u7C8Eyq4UJk" frameborder="0" allowfullscreen></iframe>
         <a class="link-text" ng-click="closeTutorial()">Skip</a>
      </center>
   </div>
</div>
